<% layout('layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">Edit Application</h1>
        <div class="col-6 offset-3">
            <form action="/users/<%= user._id %>?_method=PUT" method="POST">

                <!-- Basic Info -->
                <div class="section">
                    <label class="form-label" for="name">Name:</label>
                    <input class="form-control" type="text" id="name" name="user[name]" value="<%= user.name %>" required> <br>

                    <label class="form-label" for="email">Email:</label>
                    <input class="form-control" type="email" id="email" name="user[email]" value="<%= user.email %>" required> <br>

                    <label class="form-label" for="education">Education:</label>
                    <input class="form-control" type="text" id="education" name="user[education]" value="<%= user.education %>"> <br>

                    <label class="form-label">Skills (comma separated):</label>
                    <input class="form-control" type="text" name="user[skills]" value="<%= user.skills[0] %>">
                </div> <br>

                <!-- Projects -->
                <div class="section">
                    <h3>Projects</h3>
                    <div class="mb-3">
                        <label class="form-label" for="projectTitle">Project Title:</label>
                        <input class="form-control" type="text" name="user[projects][0][title]" id="projectTitle"
                            value="<%= user.projects[0].title %>">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="projectDescription">Description:</label>
                        <textarea class="form-control" name="user[projects][0][description]"
                            id="projectDescription"><%= user.projects[0].description %></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="projectLink">Links:</label>
                        <input class="form-control" type="url" name="user[projects][0][link]" id="projectLink"
                            value="<%= user.projects[0].link %>">
                    </div>
                </div> <br>

                <!-- Work -->
                <div class="section">
                    <h3>Work Experience</h3>
                    <label class="form-label">Company:</label>
                    <input class="form-control" type="text" name="user[works][0][company]" value="<%= user.works[0].company %>"> <br>

                    <label class="form-label">Role:</label>
                    <input class="form-control" type="text" name="user[works][0][role]" value="<%= user.works[0].role %>"> <br>

                    <label class="form-label">Start Date:</label>
                    <input class="form-control" type="date" name="user[works][0][startDate]"
                        value="<%= user.works[0].startDate ? user.works[0].startDate.toISOString().split('T')[0] : '' %>"> <br>

                    <label class="form-label">End Date:</label>
                    <input class="form-control" type="date" name="user[works][0][endDate]"
                        value="<%= user.works[0].endDate ? user.works[0].endDate.toISOString().split('T')[0] : '' %>"> <br>

                    <label class="form-label">Description:</label>
                    <textarea class="form-control" name="user[works][0][description]"><%= user.works[0].description %></textarea>
                </div> <br>

                <!-- Links -->
                <div class="section">
                    <h3>Links</h3>
                    <label class="form-label">GitHub:</label>
                    <input class="form-control" type="url" name="user[links][github]" value="<%= user.links.github %>"> <br>

                    <label class="form-label">LinkedIn:</label>
                    <input class="form-control" type="url" name="user[links][linkedin]" value="<%= user.links.linkedin %>"> <br>

                    <label class="form-label">Portfolio:</label>
                    <input class="form-control" type="url" name="user[links][portfolio]" value="<%= user.links.portfolio %>"> <br>
                </div>

                <button class="btn btn-info" type="submit">Update User</button>
            </form>
        </div>
    </div>